@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}


Custom Scrollbar
::-webkit-scrollbar {
  width: 8px;
  display: none;
}

span:empty::before {
  content: "\200b"; /* Zero-width space to ensure span has some height */
}
.color-change-div {
  transition: opacity 0.5s;
  opacity: 0;
}
.hover-div {
  cursor: pointer;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


.hover-div:hover > .color-change-div {
  opacity: 1;
}



::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  /* background: #88888850; */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  /* background: #555; */
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-thumb:vertical {
  min-height: 20px;
}

::-webkit-scrollbar-thumb:horizontal {
  min-width: 20px;
}

[contenteditable] {
  outline: 0px solid transparent;
}
input {
  outline: 0px solid transparent;
} 

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Hides the spinners in Firefox */
}


.menu-animation {
  position: absolute;
}

.start-my-article {
  left: 0;
}

.start-subscription {
  left: 128px;
}

.start-home {
  top: 0;
}
.start-security {
  top: 40px;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}